.h1{
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-bottom: 15px;
    justify-self: center;
    margin-top: 20px;
    position: relative;
}
.h1::after {
    content: "";
    background-color: rgb(255, 0, 0);
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    transition: 200ms;
}

.box {
    width: 340px;
    height: 150px;
    margin-bottom: 20px;
    margin-left: 60px;
    border: 1.2px solid rgba(255, 255, 255, 0.671);
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 20px;
    transition: transform 0.3s ease 0.5s;
    transform: scale(1);
    scroll-snap-align: center;
    cursor: pointer;
    transition: hover 0.3s ease 0.5s;
}

.box.active{
    transform: scale(1.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
    transition: box-shadow 0.3s ease;
    background: transparent;
    backdrop-filter: blur(10px);
    animation: translateUp 1s ease;
}
 @keyframes translateUp {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(1.15);
    }
}
@keyframes nextGlow {
    0% {
        opacity: 0;
        transform: translateY(40px) scale(0.5);
    }
    100% {
        opacity: 1;
        transform:translateY(0) scale(1);
    }
}

.box.next-active {
    animation: nextGlow 0.6s ease-out forwards;
}



.box p {
    color: white;
    font-size: 30px;
    line-height: 80px;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
    display: flex;
    justify-self: center;
    text-align: center;
    cursor: pointer;
}

.scroll-box {
    box-shadow: 10px 10px 30px rgba(255, 94, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.504);
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 10px;
    width: 460px;
    height: 300px;
    padding: 20px;
    display: grid;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    justify-self: end;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(12px);
}

.scroll-box::-webkit-scrollbar {
    display: none;
}

.info-box {
    width: 0px;
    height: 0px;
    padding: 15px;
    border-radius: 15px;
    margin-right: 100px;
    margin-top: 10px;
    border: 1px solid white;
    background: transparent;
    backdrop-filter: blur(10px);
    color: white;
    display: none;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease;
}

.info-box.show {
    display: block;
    transition: 500ms;
    width: 400px;
    height: 300px;
}
.mavale-container {
    display: flex;
    justify-content: space-between;
}
.fade {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: linear-gradient(180deg, transparent 50%, transparent 50%, transparent 50%, #af3614);
    inset: 0;
    pointer-events: none;
    border-radius: 15px;
}
