.h1{
    color: white;
    text-shadow: 2px 2px 5px black;
    padding-bottom: 15px;
    justify-self: center;
    margin-top: 20px;
    position: relative;
}
.h1::after {
    content: "";
    background-color: rgb(255, 0, 0);
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    transition: 200ms;
}

.box1{
    width: 300px;
    height: 100px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1.2px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin-top: 80px;
    margin-left: 30px;
    transition: 1s;
    transition: width 1.2s, height 1.2s;
    transform-origin: top;
}
.box1:hover {
    width: 700px;
    height: 400px;
    transition: 500ms;
}
.box1 p {
    color: white;
    font-size: 25px;
    text-shadow: 2px 2px 5px black;
    padding: 10px;
    display: flex;
    justify-self: center;
    text-align: center;
    cursor: pointer;
}

 .box1 span {
    color: white;
    opacity: 0; 
    transition: opacity 0.2s ease;
}
.box1:hover span {
    opacity: 1; 
    transition-delay: 0.6s; 
  }