body {
    margin: 0;

}

nav {
    background: transparent;
    backdrop-filter: blur(50px);
    overflow: hidden;
    border-bottom: 3px solid white;
    border-top: 1.2px solid rgb(0, 0, 0);
    box-shadow: 0 2px 10px rgb(0, 0, 0); 
}


.nav-links {
    display: flex;
    gap: 20px;
}

.tools {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.list-content {
    text-shadow: 2px 2px 5px black;
    font-size: 20px;
    margin-right: 30px;
}
.a {
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
    position: relative;
    width: max-content;
    cursor: pointer;
}
.a:hover {
    color: rgb(255, 0, 0);
    text-shadow: 2px 2px 20px rgb(255, 0, 0);
    font-size: 20.5px;
    transition: 200ms;
}
.a::after {
    content: "";
    background-color: rgb(255, 0, 0);
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    transition: 200ms;
}

.a:hover::after {
    width: 100%;
}

.content {
    background: url("Images/wallpaper2.png") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}

.Welcome {
    color: rgb(255, 217, 0);
    margin-left: 120px;
    text-shadow: 2px 2px 5px black;

}
.slide-in{
    opacity: 0;
    animation: slideFromLeft 1s ease-out forwards;
}
.slide-up{
    opacity: 0;
    animation: slideFromBottom 1s ease-out forwards;
}

.Maharaj {
    padding-top: 10px;
    margin-left: 120px;
    color: white;
    text-shadow: 2px 2px 5px black;
    display: flex;
    animation-delay: 0.2s;
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideFromBottom {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
.logo {
    position: relative;
}

.circle {
    width: 100px;
    height: 100px;
    border:4px solid black;
    border-bottom: none;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 1;

}

header {
    margin-top: -20px;
    background-color: #ff6f00cc;
    position: relative;
    height: 130px;
    border: 1px;
}
.rajmudra {
    position: absolute;
    right: 30px;      
    top: 50%;
    transform: translateY(-50%); 
    width: 150px;
    height: auto;
}
.csm {
    position: absolute;
    z-index: 2;
    width: 100px;
    height: auto;
    top: -21px;
}
footer {
    background-color: #000000;
    color: white;             
    text-align: center;                    
    width: 100%;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 -2px 5px rgb(0, 0, 0); 
}