body{
    margin: 0;
   
}
nav{
    background-color: #333;
    overflow: hidden;
}
ul{
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}
.content{
    background: url("Images/wallpaper2.png") no-repeat center center;
    background-size: cover;
    min-height: 100vh;
}
h1{
    color: rgb(255, 217, 0);
    margin-left: 120px;
}
h2{
    padding-top: 10px;
    margin-left: 120px;
    color: white;
}
.logo{
    position: relative;
}
.circle {
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    z-index: 1; 

}
header {
    margin-top: -20px;
    background-color: #ff6f00cc;
    height: 130px;
    border: 1px;
}

.csm{
    position: absolute;
    z-index: 2;
    width: 100px;
    height: auto;
    top: -20px;
}